@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #f16ebf;
}

#column-2 {
  background: #b5c905;
}

#column-3 {
  background: #1c365e;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #31c1d4 ;
  }

  #column-1 {
    background-color: #9cec76 ;
  }

  #column-2 {
    background-color: #c56ce9 ;
  }

  #column-3 {
    background-color: #e4e266;
  }

  footer {
    background-color: #f16a10 ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #515a02 ;
  }

  #column-1 {
    background-color: #a5b41c ;
  }

  #column-2 {
    background-color: #17253a;
  }

  #column-3 {
    background-color: #5d97ec ;
  }

  footer {
    background-color: #7506a1;
  }
   
}
